version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres-db

    environment:
      POSTGRES_USER: faiz
      POSTGRES_PASSWORD: faiz123
      POSTGRES_DB: full_stack_job_portal

    ports:
      - "5432:5432" 

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: